{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.8/dist/cdn/beer.min.css" rel="stylesheet"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.8/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <title>ATL Food Finder</title>
    <style>

        .top-right {
            display: flex;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .searchbar {
            display: block;
            width: 40%;
        }

        body {
            background-image: url("{% static 'images/background.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>

</head>

<body>
<!img src="{% static 'images/skyline.png' %}" style="opacity: 0.1; " alt="">
<nav class="top pink2">

    <a href="/foodFind/map/">
        <i>map</i>
        <div>Map</div>
    </a>
    <h5 class="max center-align">Atlanta Food Finder</h5>

    {% if user.is_authenticated %}
        <a href="/users/favorites/">
            <i>star</i>
            <div>Favorites</div>
        </a>
        <a href="/users/logout/">
            <i>logout</i>
            <div>Logout</div>
        </a>
    {% else %}
        <a href="/users/login/">
            <i>login</i>
            <div>Login</div>
        </a>
    {% endif %}

</nav>

<main class="responsive">

    <div class="responsive tiny-height"></div>
    <!--h1 class="center-align middle-align center middle">Atlanta Food Finder</h1-->
    <div class="padding">
        <article class="responsive large-padding center center-align pink1 large-round" style="opacity:0.3">
            <!--div class="grid">
            <!div class="s12 m6 l6 middle-align center-align">
            <h1 class="center-align middle-align">Food Finder</h1>
            </div-->

            <div class="center bottom field round suffix prefix small no-margin white black-text searchbar" id="search">
                <i
                        class="">search</i><input type="text" placeholder=" "
                                                  id="searchInput"><a><i>arrow_forward</i></a></div>
            <br>
            <div class="grid">
                <div class="center-align wrap center s24 m6 l6">
                    <script>
                        function setSearchFromButton(button) {
                            document.getElementById('searchInput').value = button.innerText;
                        }
                    </script>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Fast food</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">American</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Chinese</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Italian</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">American</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Mexican</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Indian</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Japanese</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Korean</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Thai</button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Mediterranean
                    </button>
                    <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Snacks</button>
                </div>
                <div class="s12 m6 l6">
                    <div class="grid">

                        <div class="s12 m6 l8">
                            <nav class="no-space center-align middle-align">
                                <button class="border left-round max"><span>$</span></button>
                                <button class="border no-round max"><span>$$</span></button>
                                <button class="border right-round max"><span>$$$</span></button>
                            </nav>
                        </div>
                        <div class="s12 m6 l3">
                            <label class="checkbox center-align middle">
                                <input type="checkbox">
                                <span>Filter price?</span>
                            </label>
                        </div>
                        <div class="s15 m6 l8">
                            <label class="slider center-align middle-align">
                                <input type="range" value="25">
                                <span></span>
                                <div class="tooltip"></div>
                            </label>
                        </div>
                        <div class="s15 m6 l3">
                            <label class="checkbox center-align middle">
                                <input type="checkbox">
                                <span>Filter distance?</span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
    <div class="padding">
        <article class="responsive large-padding center center-align pink1 large-round" style="opacity:0.3">
            <div class="grid">
                <div class="s6">
                    <img class="responsive" src="{% static 'images/skyline.png' %}" alt="">
                    <div class="absolute top left right padding top-shadow white-text"><h5>Example Restaurant</h5>
                        <p>restaurant description</p></div>
                </div>
                <div class="s6">
                    <div class="padding middle">
                        <div class="grid">
                            <div class="s1 m3 l12">
                                <div class="middle-align">
                                    <i class="fill extra">star</i>
                                    <i class="fill extra">star</i>
                                    <i class="fill extra">star</i>
                                    <i class="extra">star_half</i>
                                    <i class="extra">star</i>

                                    <h5 class="center-align middle-align small-margin">4.5 stars</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="s6 m12 l12">
                                <p class="left-align">a short description of the restaurant (from maps api) blah this is
                                    a lot of text here
                                    describing how the restaurant gives people food</p>
                            </div>
                            <div class="s15 m12 l12">
                                <nav>
                                    <button class="round">View in Map</button>
                                    <button class="border round">Add to Favorites</button>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>


<script src="{% static 'js/anime.min.js' %}"></script>
<script src="{% static 'js/homepage.js' %}"></script>
</body>
</html>