{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.8/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.8/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <title>ATL Food Finder</title>
    <style>
        .top-right {
            display: flex;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .searchbar {
            display: block;
            width: 40%;
        }
        body {
            background-image: url("{% static 'images/background.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
        img {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 90vh;
  z-index: -1;
}
    </style>

</head>

<body>
<!img src="{% static 'images/skyline.png' %}" style="opacity: 0.1; " alt="">
<nav class="top pink2">
    <div class="max"></div>
  <a>
    <i>map</i>
    <div>Map</div>
  </a>
  <a>
    <i>person</i>
    <div>Login</div>
  </a>
</nav>

<main class="responsive">

    <div class="responsive small-height"></div>
    <article class="responsive large-padding large-margin center pink1 large-round" style="opacity:0.3">
        <div class="grid">
        <div class="s12 m6 l6 middle-align center-align">
        <h2 class="center-align middle-align">Atlanta Food Finder</h2>
        </div>
        <div class="s12 m6 l6">
    <div class="center bottom field round suffix prefix small no-margin white black-text searchbar" id="search"><i class="">search</i><input type="text" placeholder=" " id="searchInput"></div>
        <br>
        <div class="center-align wrap large-width center">
            <script>
                function setSearchFromButton(button) {
                    document.getElementById('searchInput').value = button.innerText;
                }
            </script>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Fast food</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">American</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Chinese</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Italian</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">American</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Mexican</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Indian</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Japanese</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Korean</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Thai</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Mediterranean</button>
            <button class="chip round white tiny-margin" onclick="setSearchFromButton(this)">Snacks</button>
        </div>
        </div>
        </div>
    </article>
</main>


    <script src="{% static 'js/anime.min.js' %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
</body>
</html>