{% block content %}
    <h1>Your Favorite Restaurants</h1>

    <ul>
        {% for favorite in favorites %}
            <li>
                <h3>{{ favorite.name }}</h3>
                <p>Address: {{ favorite.address }}</p>
                <p>Vicinity: {{ favorite.vicinity }}</p>
                <p>Rating: {{ favorite.rating }}</p>
                <p>Cuisine: {{ favorite.cuisine }}</p>
            </li>
        {% empty %}
            <p>You don't have any favorite restaurants yet!</p>
        {% endfor %}
    </ul>
{% endblock %}